<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.system.mapper.SysMenuBtnMapper">

  <insert id="insertBatchBtns">
    INSERT INTO t_sys_menu_btn(menu_id,btn_id) VALUES
    <foreach
      collection="btnIdList"
      item="btnId"
      separator=",">
      (#{menuId},#{btnId})
    </foreach>
  </insert>

  <select
    id="selectBtnInfoListByMenuId"
    resultType="com.zhengqing.system.model.vo.SysMenuBtnListVO">
    SELECT mb.id,
           mb.menu_id,
           mb.btn_id                                                   btnId,
           (SELECT sd.name FROM t_sys_dict sd WHERE sd.id = mb.btn_id) btnName
    FROM t_sys_menu_btn mb
    WHERE mb.is_deleted = 0
      AND mb.menu_id = #{menuId}
  </select>

</mapper>
