<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.tool.generator.mapper.CgProjectPackageMapper">

  <select id="selectProjectPackages"
    resultType="com.zhengqing.tool.generator.model.vo.CgProjectPackageListVO">
    SELECT
    tcpp.id,
    tcpp.name,
    tcpp.parent_id parentId,
    tcpp.project_id projectId
    FROM t_cg_project_package tcpp
    WHERE
    tcpp.is_deleted = 0
    <if test="filter.projectId!=null">
      AND tcpp.project_id = #{filter.projectId}
    </if>
    <if test="filter.currentUserId!=null">
      AND tcpp.data_re_user_id = #{filter.currentUserId}
    </if>
    ORDER BY tcpp.id DESC
  </select>

  <select id="selectParentPackageName" resultType="java.lang.String">
    SELECT tcpp.name
    FROM t_cg_project_package tcpp
    WHERE tcpp.is_deleted = 0
      AND tcpp.project_id = #{projectId}
      AND tcpp.parent_id = 0
    ORDER BY tcpp.id ASC LIMIT 1
  </select>

</mapper>
