HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

**/.flattened-pom.xml
**/**/.flattened-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/src/main/resources/rebel.xml
**/src/main/resources/rebel-remote.xml
**/**/src/main/resources/rebel.xml
**/**/src/main/resources/rebel-remote.xml

# 业务相关
logs
LOG_HOME_IS_UNDEFINED
tmp
docker/*.jar
